<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <!-- <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2> -->
        <a href="/" class="btn">Home</a>
        <a href="/news" class="btn">News</a>
        <a href="/publications" class="btn">Publications</a>
        <a href="/software" class="btn">Software</a>
        <a href="/team" class="btn">Team</a>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    </header>

    <main id="content" class="main-content" role="main" style="display: block; margin: 0 auto">
      <img src="/images/group_photo.JPG" alt="Group photo" title="Group photo" style="max-width: 90%; height: auto; display: block; margin: auto; margin-bottom: 0;">
      <p style="text-align: center; font-size: x-small; text-align: justify; max-width: 90%; display: block; margin: auto; margin-bottom: 15pt;">
        From left to right: Yamil Vindas (Inria), Adriano Moreira (University of Minho), 
        Maxime Guillaud (Inria), Hanan Al-Tous (Aalto), Victoria Palhares (ETH), Frederik Zumegen (ETH), Reinhard Wiesmayr (ETH), 
        Olav Tirkkonen (Aalto), Christoph Studer (ETH), Joaquín Torres Sospedra (University of Minho).
      </p>
      {{ content }}
    </main>
    {%- include footer.html -%}
  </body>
</html>
